*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
}



.box{
     width: 100%;
     height: 100vh;
     position: relative;}


.bg-green{
     background-color: green;
}     
.bg-red{
     background-color: red;
}
.bg-yellow{
     background-color: yellow;
}
.bg-white{
     background-color: white;
}
.yellow{
     color: yellow;
}
.green{
     color:green
     
}